*{
  text-decoration: none;
  outline: none;
   /* Removes bullets (ul) and numbers (ol) */
  margin: 0;         /* Removes default margin */
  padding: 0; 
}


hr{
  height: 2px;
  color: black;
    background-color: black ;
}


.navwhole{
  margin-bottom: 4%;
}

nav{
 
  list-style: none; 
   display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7.8vh;
  
}

nav ul{
  display:flex;
  list-style: none; 
  gap: 120px;
  color: black;
  font-weight: bold;
  text-align: right;
  font-size: 1.5rem;
 
}

nav a{
  color: black;
}




nav a:hover{
  color: white;
  background-color: black;
  padding: 10px;
}

.title{
  color: red;
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.HomePage{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.3rem;
  padding: 10px;

}

.HomePage h4{

  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.titlehere{
 
 
    display: flex;
    flex-direction: column;
    margin-left: 30%;
  }

.HomePage ul{
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  line-height: 0px;
}

.HomePage li{
  line-height: 30px;
  text-align: justify;
  font-size: 1.3rem;
}