


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  width: 100%;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

input{
    height: 40px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background-color: rgb(217, 217, 217);
    padding-left: 15px;
}

.submit{
    width: 42%;
    background-color: blue;
    /* padding-right: 15px; */
    padding: 0;
    color: white;
    font-weight: 700;
}