body{
    display: flex;
    flex-direction: column;
    justify-content: left;
        align-items: left;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: black;

}
h1{
    text-align: left;
     margin-left: 30%;
     margin-bottom: 10px;
}
h3:hover{
   transform: scale(1.01);
}


.articlesList{
    text-align: left;
    width: 50%;
    margin-left: 30%;    
    justify-content: left;
    align-items: left;
    text-align: justify;
}

.subTitle{

    font-size: 1.4rem;
    margin-bottom: 2px;
}


.title{
    width: 50%;
    margin-left: 30%;   
}

h3{
    margin-bottom: 5px;
    width: 50%;
    margin-left: 30%; 
}

.articlesList hr{
    margin-left: 30%;
    width: 50%;
    height: 1px;
    
    outline: none;
    background-color: grey;
}

p{
    margin-bottom: 20px;
    justify-content: left;
    align-items: left;
    line-height: 30px;
    width: 50%;
    margin-left: 30%;     
   text-align: justify;
   font-size: 1.2rem;
}

pre {
    background-color: #000000; /* Light gray background */
    padding: 15px;            /* Padding for spacing */
    border-radius: 8px;        /* Rounded corners */
    overflow-x: auto;          /* Horizontal scrolling for long code lines */
    font-size: 0.9rem;         /* Slightly smaller font size */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    line-height: 1.5;
}

/* Styling inline code */
code {
    background-color: #50505060; /* Gray background for inline code */
    padding: 2px 5px;          /* Padding around inline code */
    border-radius: 4px;        /* Slight border radius */
    color: #f8f8f8;            /* Custom text color for code */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    font-size: 0.9rem;
}

/* Optional: Add hover effect for code blocks */
pre:hover {
    background-color: #181313; /* Slightly darker background on hover */
}
h1{
    font-size: 1.5rem;
    /* color: red; */
    width: 50%;
}

li{
    line-height: 80px ;
}