/* src/assets/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    align-content: center;
    align-items: center;

  }
  
  a:hover {
    color: #c72424;
  }
  
  /* Reset list styling */
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

  header{
    height: 10vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(209, 198, 198); */
    justify-content: center;
    
    align-content: center;
  }

  nav{
    width: 100%;
    /* padding-right: 30px; */
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    /* height: 10vh; */



  }
  .navList {
    display: flex;
    width: 100%;
    justify-content: right;
    align-content: center;
    gap: 20px;

  }


ul li{
    justify-content: right;
    align-content: center;
    
}

  nav a {
    color: black;
    font-family:  Roboto;
    font-weight: 900;

    font-size: 1em;
    
    
  }

  a{
      align-self: center;
    align-items: center;
    
  }

  nav img{
    height: 70px;
    margin-left: 30px;
    align-self: center;
    align-items: center;
    
    
  }
  
  .menu_button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
display: none;

  }

  
a button {
    background-color: #c72424;
    height: 40px;
    width: 80px;
    color: black;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px rgba(146, 141, 141, 0.493);

   
  }

  button {
    background-color: #000000;
    height: 40px;
    width: 140px;
    gap: 10px;
    color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;

    display: flex;
    border: none;
    border-radius: 15px;
   
    font-weight: 900;

    justify-content: center;
  }

  .btn{
    margin-right: 30px;
  }
 
  .RiPhoneFill{
padding-right: 10px;
  }

button .Login{
    color: white;
  }

  a{
    cursor: pointer;
  }

  @media (max-width: 999px) {
  
    .header{
      width: 100%;
      padding: 0;
    }
.navList {
  position: absolute; /* Make sure it's positioned on top */
  right: 0;
  top: 0;
  background-color: #ffffff; /* Adjust background if needed */
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);

  text-align: center;
  width: 100%;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 1000;
  height: 100vh;
  margin-top: 0;


}

ul{
  font-weight: 800;
  font-size: 1.6em;

 
    text-transform: capitalize;
   
  
}


.nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: right;
  align-content: center;
  text-align: right;

  justify-content: right;
  justify-items: right;
  width: 100%;
  padding: 0;
  


}


button{
  justify-self: center;

 
}



li.btn{
  padding-right: 0;
  margin-right: 0;

}



.navList.show {
  height: 100vh; /* Fullscreen height */
  transform: translateY(0); /* Slide into view */
  
}

.navList.hide {
  transform: translateY(-100vh); /* Slide out of view */
}

.navList li {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.navList a{
text-transform: capitalize;
}

.menu_button {
  z-index: 1100; 
  display: block;
  align-items: center;
  justify-content: right;
  align-content: center;
  text-align: right;
  width: 50%;
  padding-right: 20px;
  align-self: center;
}

a{
  width: 50%;
}


.landing-page {
  transition: transform 0.3s ease-in-out; /* Smooth slide down */
}

.landing-page.shift {
  transform: translateY(100vh); /* Shift down when navList is open */
}
}