*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  transition: ease-in-out 1s;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App button{
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  background-color: red;
  /* color: white; */
  border: none;
  margin-left: 10%;
  border-radius: 6px;

}


.To-do{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

}



.To-do input{
  height: 50px;
  border-radius:  5px 0 0 5px ;
  border: none;
  /* outline-color: grey; */
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
  width: 30%;
  font-size: 1.5rem;
  padding:  10px;
}

.To-do:enabled{
  outline:none;
  border:none;
}

.To-do button{
  width: 15%;
  height: 70px;
  /* padding: 10px; */
  /* width: max-content; */
  color: white;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.3rem;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: rgb(7, 51, 122);

}

.To-do{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100dvh-min;
  /* align-items: center; */

}

.addTask{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  background-color: rgb(68, 134, 239);
  align-items: center;

}
.lists{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.taskbutton{
  width: 100%;
 margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

}

.taskbutton h2{
  background-color: rgb(68, 134, 239);
  color: white;
  padding: 10px;
  font-weight: 500;
  width: 30%;
  border-radius: 5px;

}


.taskbutton button{
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 55px;
    width:10%;
}

.taskbutton input{
  width: 4%;

  
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
