@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: 'MyCustomFont';
  src: url('https://example.com/path/to/font.woff2') format('woff2'),
       url('https://example.com/path/to/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'MyCustomFont', sans-serif;
  
}

nav{
  height: 10vh;
  display: flex;
  width: 100%;
  background-color: rgb(71, 166, 197);
  justify-content: center;
  align-items: center;

}
a{
  text-decoration: none;
  /* color: black; */
}

 ul{
 
  display: flex;
  font-size: 1.5em;  
 
  font-weight: 700;

}

ul li{
  list-style-type: none;
  justify-content: center;
  margin-right: 30px;

  align-items: center;
}

li a{
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
